datamedmera.se {
    handle /geoserver/web/* {
        respond 403
    }

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle /geoserver/* {
        reverse_proxy geoserver:8080
    }

    handle {
        root * /var/www/html
        try_files {path} /index.html
        file_server
    }
}
